<div class="wrapper min-h-100">
  <div class="create-news">
    <h2 id="title" class="create-subtitle">編集（パートナー情報）</h2>

    <%= form_for @partner do |f| %>

      <h4>画像</h4>
        <div class="clearfix">
          <div class="partner-edit-image-box">
            <%= attachment_image_tag @partner, :partner_image, format: 'jpeg', fallback: "", class: "partner-edit-image" %>

            <p class="partner-edit-image-text text-center">
              （保存されている画像）
            </p>
          </div>

            <p class="partner-edit-image-text">
              （↓更新の場合はこちらから）
            </p>
            <%= f.attachment_field :partner_image, direct: true, presigned: true %>
            <%#= f.attachment_field :partner_image %>
        </div>

      <h4>リンク先</h4>
      <%= f.text_field :link, class:"create-partner-link blk" %>

      <h4>名前</h4>
      <%= f.text_field :name, class:"create-partner-link blk" %>

      <h4>タグ</h4>
      <%= f.select :tag_id, Partner.tag_ids.keys, { prompt: '選択してください' }, class: 'blk' %>

      <h4>公開非公開</h4>
      <%= f.select :published, {'公開': 1, '下書き': 0}, {include_blank: ''}, { class: 'blk' , required: true } %>

      <%= f.submit '保存', class: "submit-link" %>

    <% end %>
  </div>
</div>