<div class="navbar clearfix">

  <!-- header 左側 -->
  <div class="header-left">
    <%= link_to image_tag("logo-top.png", class:"logo-top"), root_path %>
  </div>

  <!-- header 中央 -->
  <div id="pc-only" class="header-center">
    <div class="header-box">
      <%= link_to 'ABOUT', '#about', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'NEWS', '#news', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'CAST', '#cast', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'FOOD&DRINK', '#fooddrink', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'TICKET', '#ticket', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'ACCESS', '#access', class: 'header-center-text' %>
    </div>
    <div class="header-box">
      <%= link_to 'REPORT', '#report', class: 'header-center-text' %>
    </div>
  </div>

  <!-- header 右側 -->
  <div class="header-right">
    <h4>
    </h4>
  </div>

  <!-- ダミー文章 -->
  <span id="pc-only" class="dummy-text">
    ※こちらはダミーサイトです。掲載されている情報は事実と異なります。
  </span>
  <span id="sp-only" class="dummy-text">
    ※掲載内容は<br>事実と異なるため<br>ご注意ください。
  </span>

</div>

<div class="gradient-bar">
</div>